

<div class="bg shadow rounded-lg bg-light">
  <div id="rls" class="text-success">{{Data.release}}</div>
<Div id="heading" ><h1>{{Data.project}}</h1></Div>


<h4>
<Div class="rdate text-secondary">Release StartDate - {{Data.rstartDate}}</Div>
<Div class="rdate text-secondary">Release EndaDate - {{Data.rendDate}}</Div>
</h4>


<h4>
<div class="Row shadow-sm bg-white rounded text-dark border">
  <div class="column" >{{Data.sprint}}</div>
  <div class="column" >{{Data.sstartDate}}</div>
<div  class="column">{{Data.sendDate}}</div>

</div>
</h4>


<!--  <button type="button" class="btn btn-light bg-white"> <h4> <div class="column" >{{Data.sprint}}</div>
  <div class="column" >{{Data.SstartDate}}</div>
<div  class="column">{{Data.SendDate}}</div> -->



<div class="chart" id="graph" ></div>
<div  id="per"><h4>{{Data.releasePerc}}%</h4></div>


</div>
